@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

h1,
h2 {
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1px;
}

.hero {
  height: 20rem;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #757575;
}

.hero-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: block;
}

.title-container {
  flex-grow: 1;
  padding-top: 0.5rem;
  text-align: center;
}

.hero-title {
  font-size: 1.8rem;
  line-height: 2rem;
}

.hero-title span {
  color: #05a0f8;
}

.hero-quote {
  font-style: italic;
  font-size: 0.7rem;
}

.navbar {
  background-color: #e1e1e1;
}

.nav-item-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
}

.nav-item {
  padding: 0.2rem 0;
}

.nav-item a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #505050;
}

.section {
  padding: 1rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
}

.section-content-container {
  margin-bottom: 1rem;
  color: #505050;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.para-container {
  padding: 0 1rem;
}

.text-para {
  margin-bottom: 1rem;
  text-align: justify;
}

.text-para::first-letter {
  font-size: 1.3rem;
}

.img-div {
  width: 100%;
  margin-top: 0.7rem;
  background-color: #e1e1e1;
}

.section-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.fig-caption {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.text-full {
  padding: 0 1rem;
}

.fact-file-section {
  background-color: #c4c4c4;
  color: #505050;
  padding: 1rem;
}

.fact-file-list {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.footer {
  padding: 0.5rem 1rem;
  background-color: #e1e1e1;
  color: #505050;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #000;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .nav-item-list {
    padding-left: 3rem;
    flex-direction: row;
  }

  .nav-item {
    padding: 0;
    margin-right: 1.2rem;
  }

  .section-content-container {
    flex-direction: row;
  }

  .para-container {
    width: 70%;
  }

  .img-div {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
    flex-direction: row;
  }

  .hero-title {
    line-height: 1rem;
  }
  .hero-image {
    width: 14rem;
    height: 14rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
